<div>
  <h2 id="page-heading" data-cy="BeerHeading">
    <span jhiTranslate="formosBeerApp.beer.home.title">Beers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="formosBeerApp.beer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-beer"
        [routerLink]="['/beer/new']"
        [disabled]="!currentAccount || this.currentAccount.authorities.length === 1"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="formosBeerApp.beer.home.createLabel"> Create a new Beer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="beers?.length === 0">
    <span jhiTranslate="formosBeerApp.beer.home.notFound">No beers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="beers && beers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="manufacturer">
            <span jhiTranslate="formosBeerApp.beer.manufacturer">Manufacturer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="formosBeerApp.beer.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="country">
            <span jhiTranslate="formosBeerApp.beer.country">Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image"><span jhiTranslate="formosBeerApp.beer.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="price"><span jhiTranslate="formosBeerApp.beer.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="formosBeerApp.beer.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quantity">
            <span jhiTranslate="formosBeerApp.beer.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="archive">
            <span jhiTranslate="formosBeerApp.beer.archive">Archive</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="category.id">
            <span jhiTranslate="formosBeerApp.beer.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beer of beers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/beer', beer.id, 'view']">{{ beer.id }}</a>
          </td>
          <td>{{ beer.manufacturer }}</td>
          <td>{{ beer.name }}</td>
          <td>{{ beer.country }}</td>
          <td>{{ beer.image }}</td>
          <td>{{ beer.price }}</td>
          <td>{{ beer.description }}</td>
          <td>{{ beer.quantity }}</td>
          <td>{{ beer.archive }}</td>
          <td>
            <div *ngIf="beer.category">
              <a [routerLink]="['/category', beer.category?.id, 'view']">{{ beer.category?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/beer', beer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/beer', beer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
                [disabled]="!currentAccount || this.currentAccount.authorities.length === 1"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(beer)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
                [disabled]="!currentAccount || this.currentAccount.authorities.length === 1"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="beers && beers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
