<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span jhiTranslate="formosBeerApp.order.detail.title">Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span jhiTranslate="formosBeerApp.order.orderDate">Order Date</span></dt>
        <dd>
          <span>{{ order.orderDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="formosBeerApp.order.shipDate">Ship Date</span></dt>
        <dd>
          <span>{{ order.shipDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="formosBeerApp.order.disCount">Dis Count</span></dt>
        <dd>
          <span>{{ order.disCount }}</span>
        </dd>
        <dt><span jhiTranslate="formosBeerApp.order.total">Total</span></dt>
        <dd>
          <span>{{ order.total }}</span>
        </dd>
        <dt><span jhiTranslate="formosBeerApp.order.price">Price</span></dt>
        <dd>
          <span>{{ order.price }}</span>
        </dd>
        <dt><span jhiTranslate="formosBeerApp.order.quantity">Quantity</span></dt>
        <dd>
          <span>{{ order.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="formosBeerApp.order.stautus">Stautus</span></dt>
        <dd>
          <span>{{ order.stautus }}</span>
        </dd>
        <dt><span jhiTranslate="formosBeerApp.order.client">Client</span></dt>
        <dd>
          <div *ngIf="order.client">
            <a [routerLink]="['/client', order.client?.id, 'view']">{{ order.client?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
