form-login {
  display: grid;
  justify-content: center;
}

input {
  width: 80%;
}

button {
  width: 80%;
}

// .justify-content-center{
//     justify-content: center;
// }

// .form-login{
//     justify-content: center;
// }
