<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title"></span> Bia</h1>

    <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
    <p class="lead">Những loại bia được yêu thích nhất</p>
    <a href="/login" class="btn btn-outline-info" style="border-radius: 25;">Đăng Nhập Tài khoản Của Bạn</a>
    <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="carousel_a5b6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <!-- *ngFor="let item of listBeer"> -->
              <div
                class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img class="u-expanded-width-xs u-image u-image-default u-image-1"
                  src="../../content/images/beer/budweiser.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">bia Budweiser</h4>
                    <h6 class="u-text u-text-palette-3-base u-text-4">corona</h6>
                    <div style="display: flex;">
                    </div>
                    <span class="u-text u-text-palette-3-base u-text-4"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <!-- *ngFor="let item of listBeer"> -->
              <div
                class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img class="u-expanded-width-xs u-image u-image-default u-image-1"
                  src="../../content/images/beer/corona.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Bia Corona</h4>
                    <div style="display: flex;">
                    </div>
                    <span class="u-text u-text-palette-3-base u-text-4"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <!-- *ngFor="let item of listBeer"> -->
              <div
                class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img class="u-expanded-width-xs u-image u-image-default u-image-1"
                  src="../../content/images/beer/heineken.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Bia Heineken</h4>
                    <div style="display: flex;">
                    </div>
                    <span class="u-text u-text-palette-3-base u-text-4"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <!-- *ngFor="let item of listBeer"> -->
              <div
                class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img class="u-expanded-width-xs u-image u-image-default u-image-1"
                  src="../../content/images/beer/Larue.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Bia Larue</h4>
                    <div style="display: flex;">
                    </div>
                    <span class="u-text u-text-palette-3-base u-text-4"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <!-- *ngFor="let item of listBeer"> -->
              <div
                class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img class="u-expanded-width-xs u-image u-image-default u-image-1"
                  src="../../content/images/beer/tiger.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Bia Tiger</h4>
                    <div style="display: flex;">
                    </div>
                    <span class="u-text u-text-palette-3-base u-text-4"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <!-- *ngFor="let item of listBeer"> -->
              <div
                class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img class="u-expanded-width-xs u-image u-image-default u-image-1"
                  src="../../content/images/beer/3333.jpg">
                <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
                  <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                    <h4 class="u-custom-font u-font-oswald u-text u-text-2">Bia 333</h4>
                    <div style="display: flex;">
                    </div>
                    <span class="u-text u-text-palette-3-base u-text-4"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
